html
    head
        title= title
        meta(charset="UTF-8" )
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        each script in scripts
            script(src=script, defer)
        each cssFile in cssFiles
            link(rel="stylesheet", type="text/css", href=cssFile)