body {
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #0b1c2c, #14273d);
    color: #f0f0f0;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

.movie img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px whitesmoke;
    transition: transform 0.2s ease-in-out;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #0056b3;
}