
.movie {
    width: 200px;
}

/* Wishlist action buttons spacing top */
#saveToWishlistButton, #removeFromWishlistButton {
    margin-top: 30px;
}

/* Back arrow icon */
#backArrow {
    font-size: 50px;
    user-select: none;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* creating see through box*/
.movieInfoBox {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
}

/* setting background */
.movieInfoPage {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
}


.coverAndTrailer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}