.movie {
    width: 150px;
    text-align: center;
    cursor: pointer;
}

/* Slight zoom effect when hovering over a movie image */
.movie img:hover {
    transform: scale(1.05);
}

/* Container that holds multiple movie boxes in a flexible layout */
.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;               
    
}

#backArrow {
    font-size: 50px;
    user-select: none;
    cursor: pointer;   
}